@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
}

html {
    scroll-behavior: smooth;
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
 
}

    
.dark-theme{
    --primary-colorbg1: #ffffff;
    --secondary-colorbg2: #000000;
    ---Whatsapp-colorbg1: #25d366;
    ---Whatsapp-colorbg2: #000000;
    ---BackGround-image1: url(Images/background1.png);
    ---BackGround-image2: url(Images/background.png);
}

/* *********************/
/* seccion I N I C I O */
/* *********************/

#Inicio {
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), var(---BackGround-image2);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#Inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    background-color: var(--secondary-colorbg2);
    width: 100%;
    z-index: 100;
    top: 0;
}

#Inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#Inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: var(--primary-colorbg1);
}

#Inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#Inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: var(--primary-colorbg1);
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#Inicio .contenido header .contenido-header nav ul li a:hover {
    color: grey
}

#Inicio .contenido header .contenido-header .Redes a {
    text-decoration: none;
    color: var(--primary-colorbg1);
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#Inicio .contenido header .contenido-header .Redes a:hover {
    color: grey;
}

#Inicio .contenido header .contenido-header .seleccionado {
    color: var(--primary-colorbg1);
}

#Inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: var(--primary-colorbg1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 #Inicio .contenido .presentacion .loader{
    color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 25px;
    box-sizing: content-box;
    padding: 10px 10px;
    display: flex;
    border-radius: 8px;
}

#Inicio .contenido .presentacion .bienvenida {
    color: var(--primary-colorbg1);
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#Inicio .contenido .presentacion h2 {
    color: var(--primary-colorbg1);
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#Inicio .contenido .presentacion h2 span {
    color: var(--primary-colorbg1);
    font-size: 25px;
    color: grey;
}
#Inicio .contenido .presentacion h2 span:hover {
    color: wheat;
    transition: 0.6s;
    transition-duration: 0.3s;
}

#Inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#Inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid var(--primary-colorbg1);
    border-radius: 50px;
    color: var(--primary-colorbg1);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#Inicio .contenido .presentacion a:hover {
    background-color: grey;
}

#icon-nav{
    color: var(--primary-colorbg1);
    display: none;
}

#icon-lightdiv img{
    position: absolute;
    width: 30px;
    cursor: pointer;
    top: 10px;
    left: 150px;
}
#icon-lightdiv{
  display: contents;
}



.btn-wsp{
    color: var(--primary-colorbg1);
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background: var(---Whatsapp-colorbg1);
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: grey;
}
/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobrenosotros {
    margin: auto;
    padding: 100px 15px;
    color: var(--primary-colorbg1);
    background-color: var(--secondary-colorbg2);
    display: flex;
}
#sobrenosotros a{
    text-align: center;
    margin-bottom: 60px;
    text-decoration: none;
    background-color: white;
    color: grey;
    border-radius: 40px;
}

#sobrenosotros .contenedor-foto {
    max-width: 600px;
    margin-right: 80px;
}

#sobrenosotros .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--primary-colorbg1);
}

#sobrenosotros .sobrenosotros {
    margin: 0 40px;
}

#sobrenosotros .sobrenosotros .titulo-seccion {
    color: var(--secondary-colorbg1);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration-thickness: 5px;
}

#sobrenosotros .sobrenosotros h2 {
    color: var(--primary-colorbg1);
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobrenosotros .sobrenosotros h2 span {
    color: grey;
}
#sobrenosotros .sobrenosotros h2 span:hover {
    color: violet;
    transition: .5s;
}

#sobrenosotros .sobrenosotros h3 {
    color: var(--primary-colorbg1);

    font-size: 20x;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobrenosotros .sobrenosotros p {
    font-size: 20px;
    line-height: 25px;
    color: var(--primary-colorbg1);
    margin-bottom: 12px;
}

#sobrenosotros .sobrenosotros a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-colorbg2);
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobrenosotros .sobrenosotros a:hover {
    background-color: #ff5080;
    color: var(--primary-colorbg1);
}
/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: var(--secondary-colorbg2);
}

#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--primary-colorbg1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicios {
    max-width: 350px;
    background-color: white;
    padding: 30px;
    margin: 0 5px;
    color: var(--primary-colorbg1);
    border-radius: 5px solid 2px black;
    transition: .5s;
}

#servicios .fila .servicios:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicios .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: wite;
    border-radius: 50%;
    background-color: grey;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicios h4 {
    color: black;
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicios hr {
    width: 30%;
    margin: auto;
    color: var(--primary-colorbg1);
    margin-bottom: 25px;
}

#servicios .fila .servicios ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicios p {
    color: var(--secondary-colorbg2);
    font-size: 14px;
    line-height: 22px;
}
/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
    color: var(--primary-colorbg1);
    background-color: var(--secondary-colorbg2);
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
}

.contenedor-skills .skill .barra {
    background-color:blue;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1{
    background-color: orange;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-pregreso2 {
    background-color: orange;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-pregreso3 {
    background-color: orange;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}
/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#portafolio {
    background-color: var(--secondary-colorbg2);
    padding: 100px 0;
    margin: auto;
    color: var(--secondary-colorbg1);
}

#portafolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--secondary-colorbg2);
    text-decoration: underline;
    text-decoration-color: var(--secondary-colorbg2);
    text-decoration-thickness: 5px;
}

#portafolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portafolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    ;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portafolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portafolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portafolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
    color: white;
}

/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: var(--secondary-colorbg2);
    color: var(--primary-colorbg1);
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: var(--primary-colorbg1);
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 900px) {
    .modo {
        position: absolute;
        top: 600px;
        font-size: 12px;
        text-align: center;
      }
    .Redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: var(--secondary-colorbg2);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icon-nav {
        display: block;
    }
    #icon-dark{
      display: block;
    }
    #icon-light{
        display: block;
        width: 30px;
        top: 4px;
        left: 70px;
        position: absolute;
       
    }
    #Inicio .contenido .presentacion h2 {
        font-size: 30px;
    }
    /* seccion SOBRE MI */
    #sobrenosotros {
        padding: 50px 0;
        display: block;
    }
    #sobrenosotros .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobrenosotros .contenedor-foto img {
        padding: 8px;
    }
    #sobrenosotros .sobrenosotros .titulo-seccion {
        text-align: center;
    }
    #sobrenosotros .sobrenosotros h2 {
        font-size: 25px;
        text-align: center;
    }
    /* seccion MIS SERVICIOS */
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #servicios .fila .servicios {
        margin: 10px auto;
    }
    /* seccion HABLIDADES MI */
    .contenedor-skills {
        padding: 50px 20px;
    }
    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .filamitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .filamitad input {
        width: 100%;
        margin-bottom: 15px;
    }
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}

}